

.form-wizard {
  list-style: none;
  margin: $lf-wizard-margin;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding: $lf-wizard-padding;
  border-bottom: $lf-wizard-border-bottom;
  overflow-x: auto;
}

.wizard-step {
  position: relative;
  white-space: nowrap;
  flex: 1;
  text-align: center;
  padding: 0 10px;

  &:before {
    content: " ";
    display: inline-block;
    height: 4px;
    background: $lf-primary-color;
    position: absolute;
    top: -12px;
    left: 0;
    right: 50%;
    transition: .3s;
    z-index: 2;
  }

  &:after {
    content: " ";
    display: inline-block;
    height: 4px;
    background: $lf-passive-background;
    position: absolute;
    top: -12px;
    left: 50%;
    right: 0;
    transition: .3s;
    z-index: 2;
  }

  a {
    text-decoration: none !important;

    &:hover, &:focus, &:active {
      text-decoration: none !important;
    }

    &:before {
      content: " ";
      display: inline-block;
      width: 16px;
      height: 16px;
      position: absolute;
      background: $lf-primary-color;
      border-radius: 50%;
      left: 50%;
      transform: translateX(-50%);
      top: -18px;
      z-index: 3;
    }

    &:after {
      content: " ";
      display: inline-block;
      width: 8px;
      height: 8px;
      position: absolute;
      background: #ffffff;
      border-radius: 50%;
      left: calc(50% - 4px);
      transform: scale(0);
      top: -14px;
      z-index: 4;
      transition: transform .3s ease-in-out;
    }
  }

  &:first-of-type {
    padding-left: 0;
    text-align: left;

    &:before {
      display: none;
    }

    &:after {
      left: 0;
    }

    a {
      &:before {
        left: 0;
        transform: none;
      }

      &:after {
        left: 4px;
        transform: scale(0);
      }
    }
  }

  &:last-of-type {
    padding-right: 0;
    text-align: right;

    &:after {
      display: none;
    }

    &:before {
      right: 0;
    }

    a {
      &:before {
        right: 0;
        left: auto;
        left: initial;
        transform: none;
      }

      &:after {
        left: auto;
        left: initial;
        transform: scale(0);
        right: 4px;
      }
    }
  }

  a {
    color: $lf-input-color;
  }

  &.wizard-step-disabled {
    &:before {
      background: $lf-passive-background;
    }

    a {
      color: $lf-disabled-color;

      &:before {
        background: $lf-passive-background;
      }
    }
  }

  &.wizard-step-completed {
    &:after {
      background: $lf-primary-color;
    }

    a {
      &:after {
        background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>');
        background-size: 8px 8px;
        background-position: 0px 0px;
        background-repeat: no-repeat;
        border-radius: 0;
        transform: scale(1);
      }
    }
  }

  &.wizard-step-active {
    a {
      &:after {
        background: $lf-wizard-active-step-circle-background;
        top: -14px;
        transform: scale(1);
        border-radius: 50%;
      }
    }
  }

  &.wizard-step-pending {
    // &:after {
    //   background: $lf-primary-color;
    // }

    a {
      &:after {
        background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="hourglass-start" class="svg-inline--fa fa-hourglass-start fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="white" d="M372 0H12C5.373 0 0 5.373 0 12v24c0 6.627 5.373 12 12 12h4c0 80.564 32.188 165.807 97.18 208C47.898 298.381 16 383.9 16 464h-4c-6.627 0-12 5.373-12 12v24c0 6.627 5.373 12 12 12h360c6.627 0 12-5.373 12-12v-24c0-6.627-5.373-12-12-12h-4c0-80.564-32.188-165.807-97.18-208C336.102 213.619 368 128.1 368 48h4c6.627 0 12-5.373 12-12V12c0-6.627-5.373-12-12-12zm-52 464H64c0-101.62 57.308-184 128-184s128 82.38 128 184z"></path></svg>');
        background-size: 8px 8px;
        background-position: 0px 0px;
        background-repeat: no-repeat;
        transform: scale(1);
        border-radius: 0;
      }
    }
  }

  &.wizard-step-errors {
    a {
      color: $lf-danger-color;

      &:before {
        background-color: $lf-danger-color;
      }

      &:after {
        background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="exclamation" class="svg-inline--fa fa-exclamation fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="white" d="M176 432c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80zM25.26 25.199l13.6 272C39.499 309.972 50.041 320 62.83 320h66.34c12.789 0 23.331-10.028 23.97-22.801l13.6-272C167.425 11.49 156.496 0 142.77 0H49.23C35.504 0 24.575 11.49 25.26 25.199z"></path></svg>');
        background-size: 8px 8px;
        background-position: 0px 0px;
        background-repeat: no-repeat;
        width: 8px;
        height: 8px;
        top: -14px;
        border-radius: 0;
      }
    }
  }

}

.form-wizard-controls {
  margin-bottom: 20px;
}

.lf-wizard {
  margin-bottom: 20px
}